# Base de Datos
DB_HOST=tu_host_mysql
DB_USER=tu_usuario
DB_PASSWORD=tu_contraseña
DB_PORT=3306
DB_NAME=nombre_base_datos

# Seguridad
JWT_SECRET=tu_jwt_secret_muy_seguro

# Servidor
PORT=3001
NODE_ENV=production
