.fix-color-faq {
  color: #b3b3b3 !important;
}

.title {
    font-size: 2.5rem;
    color: #C4BAA6;
}

.fix-color-button {
    color: #1B201E !important;
}

.sub-title {
    font-size: 1.5rem;
    color: #C4BAA6;
}